[Unit]
Description=ChirpStack LoRaWAN Network Server
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/sbin/chirpstack --config /etc/chirpstack/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
